/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Inter";
  font-style: normal;
  src: url("assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  font-family: "Inter";
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.test {
  width: 264.54px;
  height: 147.319px;
  flex-shrink: 0;
  border: 1px solid black;
}

.header{
  height: 77px !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.full-button {
  width: 100% !important;
  border-radius: 0 !important;
}

.txt-large {
  font-size: 45px !important;
  font-weight: 200;
}
.fix-position {
  position: fixed !important;
}

.center-text {
  text-align: center !important;
}

.letter-spacing-0 {
  letter-spacing: 0;
}

.letter-spacing-0_175 {
  letter-spacing: 0.175px;
}
.letter-spacing-0_15 {
  letter-spacing: 0.15px;
}

.letter-spacing-0_1em {
  letter-spacing: 0.1em;
}

.letter-spacing-0_16em {
  letter-spacing: 0.16em;
}

.letter-spacing-0_07em {
  letter-spacing: 0.07em;
}

.letter-spacing-0_08em {
  letter-spacing: 0.08em;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.letter-spacing-2 {
  letter-spacing: 2px;
}

.text-align-end {
  text-align: end !important ;
}

.text-align-center {
  text-align: center !important ;
}

.align-content-center {
  align-content: center !important;
}

.text-align-start {
  text-align: start !important ;
}

ion-back-button {
  width: 40px !important;
}

// .grey-back {
//   background-color: #fafafa !important;
// }

.opacity-1 {
  opacity: 1 !important;
}

.opacity-0_9 {
  opacity: 0.9 !important;
}

.font-large {
  font-size: large !important;
}

.font-size-medium {
  font-size: medium !important;
}

.font-size-larger {
  font-size: larger !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-11 {
  font-size: 11px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-13 {
  font-size: 13px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}
.font-18 {
  font-size: 18px !important;
}

.font-19 {
  font-size: 19px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-21 {
  font-size: 21px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-23 {
  font-size: 23px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-35 {
  font-size: 35px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-43 {
  font-size: 43px !important;
}

.font-45 {
  font-size: 45px !important;
}

.font-50 {
  font-size: 50px !important;
}
.font-70 {
  font-size: 70px !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-weight-800 {
  font-weight: 800 !important;
}

.font-weight-900 {
  font-weight: 900 !important;
}

.col-center-item {
  justify-content: center;
  display: flex;
}

.discussion-comment {
  background: #fafafa;
}

.discussion-white {
  background: white !important;
}

.txt-nowrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.txt-medium {
  font-size: 20px !important;
}

.min-width-37 {
  min-width: 37px;
}

.min-width-40 {
  min-width: 40px;
}

.min-width-138 {
  min-width: 138px;
}

.min-width-232 {
  min-width: 232px;
}

.width-auto {
  min-width: 100px;
  max-width: 315px;
}

.width-max-content {
  width: max-content !important;
}

.height-35 {
  height: 35px !important;
}

.height-38 {
  height: 38px !important;
}

.height-48 {
  height: 48px !important;
}

.height-fit-content {
  height: fit-content !important;
}

.height-50 {
  height: 50px !important;
}

.height-68 {
  height: 68px !important;
}

.height-77 {
  height: 77px !important;
}

.height-150 {
  height: 150px !important;
}

.height-203 {
  height: 203px !important;
}

.height-50percent {
  height: 50% !important;
}
.height-30vh {
  height: 30vh;
}
.height-15vh {
  height: 15vh;
}
.height-31vh {
  height: 31vh;
}
.home-card-height {
  height: 8.65em !important;
}

.payment-card-height {
  height: 11em !important;
}

.thm-logo {
  height: 40px !important;
  width: 135px !important;
}

.width-30 {
  width: 30px !important;
}

.height-30 {
  height: 30px !important;
}

.max-available-height {
  height: 100% !important;
}

.fit-content-width {
  width: fit-content !important;
}

.fit-content {
  height: fit-content !important;
}

.height-40 {
  height: 40px !important;
}

.height-45 {
  height: 45px !important;
}

.height-50 {
  height: 50px !important;
}

.height-70 {
  height: 70px !important;
}
.height-100 {
  height: 100px !important;
}
.height-200 {
  height: 200px !important;
}
.txt-white {
  color: white !important;
}

.btn-color {
  color: var(--ion-icon-liked-state-color) !important;
}

.txt-warm-grey {
  color: #9b9b9b !important;
}

.black-color {
  color: black !important;
}

.txt-align-right {
  text-align: right !important;
}
.webkit-center {
  text-align: -webkit-center;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.button-balanced {
  background-color: #2b3d4b !important;
  color: white !important;
}

.align-self-flex-end {
  align-self: flex-end !important;
}

.align-self-start {
  align-self: start !important;
}

.align-self-baseline {
  align-self: baseline !important;
}

.align-self-center {
  align-self: center !important;
}

.img-responsive {
  width: 100% !important;
  height: auto !important;
}
.image-fit {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.img-100 {
  width: 100px;
  height: 100px;
}

.object-fit-cover {
  object-fit: cover;
}

.object-fit-contain {
  object-fit: contain;
}

.img-80px {
  width: 80px !important;
  height: 80px !important;
}

.img-30 {
  height: 30px !important;
  width: 30px !important;
}

.img-40 {
  height: 40px !important;
  width: 40px !important;
}
.img-60 {
  height: 60px !important;
  width: 60px !important;
}
.transparent {
  background: transparent !important;
}

.margin-auto {
  margin: auto !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-12 {
  margin: 12px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-16 {
  margin: 16px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-0 {
  margin: 0px !important;
}

.margin-1 {
  margin: 1px !important;
}

.margin-2 {
  margin: 2px !important;
}

.margin-3 {
  margin: 3px !important;
}

.margin-4 {
  margin: 4px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-6 {
  margin: 6px !important;
}

.margin-padding-zero {
  margin: 0px !important;
  padding: 0px !important;
}

.margin-bottom-minus-10 {
  margin-bottom: -10px !important;
}

.margin-top-minus-5 {
  margin-top: -5px !important;
}

.margin-top-minus-2 {
  margin-top: -2px !important;
}

.margin-top-minus-10 {
  margin-top: -10px !important;
}

.margin-top-minus-12 {
  margin-top: -12px !important;
}

.margin-top-minus-20 {
  margin-top: -20px !important;
}

.margin-top-minus-14 {
  margin-top: -14px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-auto {
  margin-top: auto !important;
}

.margin-top-1 {
  margin-top: 1px !important;
}

.margin-top-2 {
  margin-top: 2px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}

.margin-top-4 {
  margin-top: 4px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-6 {
  margin-top: 6px !important;
}

.margin-top-7 {
  margin-top: 7px !important;
}

.margin-top-8 {
  margin-top: 8px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-11 {
  margin-top: 11px !important;
}

.margin-top-12 {
  margin-top: 12px !important;
}

.margin-top-13 {
  margin-top: 13px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-16 {
  margin-top: 16px !important;
}

.margin-top-18 {
  margin-top: 18px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-22 {
  margin-top: 22px !important;
}

.margin-top-23 {
  margin-top: 23px !important;
}

.margin-top-24 {
  margin-top: 24px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-27 {
  margin-top: 27px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-32 {
  margin-top: 32px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-top-4em {
  margin-top: 4em !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-56 {
  margin-top: 56px !important;
}

.margin-top-5pc {
  margin-top: 5pc !important;
}

.margin-top-6pc {
  margin-top: 6pc !important;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-left-minus-10 {
  margin-left: -10px !important;
}

.margin-left-minus-5 {
  margin-left: -5px !important;
}

.margin-left-2 {
  margin-left: 2px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-6 {
  margin-left: 6px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-13 {
  margin-left: 13px !important;
}

.margin-left-14 {
  margin-left: 14px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-16 {
  margin-left: 16px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-22 {
  margin-left: 22px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-4 {
  margin-left: 4px !important;
}

.margin-right-minus-5 {
  margin-right: -5px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-auto {
  margin-right: auto !important;
}

.margin-right-1 {
  margin-right: 1px !important;
}

.margin-right-2 {
  margin-right: 2px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-6 {
  margin-right: 6px !important;
}

.margin-right-8 {
  margin-right: 8px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-11 {
  margin-right: 11px !important;
}

.margin-right-13 {
  margin-right: 13px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-16 {
  margin-right: 16px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-right-4 {
  margin-right: 4px !important;
}

.margin-bottom-auto {
  margin-bottom: auto !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-bottom-1 {
  margin-bottom: 1px !important;
}
.margin-bottom-3 {
  margin-bottom: 3px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-6 {
  margin-bottom: 6px !important;
}

.margin-bottom-7 {
  margin-bottom: 7px !important;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-11 {
  margin-bottom: 11px !important;
}

.margin-bottom-12 {
  margin-bottom: 12px !important;
}

.margin-bottom-14 {
  margin-bottom: 14px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-16 {
  margin-bottom: 16px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-24 {
  margin-bottom: 24px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-32 {
  margin-bottom: 32px !important;
}

.margin-bottom-50{
  margin-bottom: 50px !important;
}

.margin-bottom-6pc {
  margin-bottom: 6pc !important;
}

.padding-top-bottom-right-10 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.padding-top-bottom-left-10 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.padding-0 {
  padding: 0px !important;
}

.padding-2 {
  padding: 2px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-6 {
  padding: 6px !important;
}

.padding-7 {
  padding: 7px !important;
}

.padding-8 {
  padding: 8px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-10-16-10-16 {
  padding: 10px 16px 10px 16px !important;
}

.padding-13 {
  padding: 13px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-16 {
  padding: 16px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-6 {
  padding-top: 6px !important;
}

.padding-top-8 {
  padding-top: 8px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-12 {
  padding-top: 12px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-16 {
  padding-top: 16px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-top-28 {
  padding-top: 28px !important;
}

.padding-top-4pc {
  padding-top: 4pc !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-8 {
  padding-left: 8px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-16 {
  padding-left: 16px !important;
}

.padding-left-7 {
  padding-left: 7px;
}

.padding-left-15 {
  padding-left: 15px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-2 {
  padding-right: 2px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-8 {
  padding-right: 8px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-16 {
  padding-right: 16px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-bottom-1 {
  padding-bottom: 1px !important;
}
.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-7 {
  padding-bottom: 7px !important;
}

.padding-bottom-8 {
  padding-bottom: 8px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-16 {
  padding-bottom: 16px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-0-5-0-5 {
  padding: 0 5px 0 5px !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  visibility: hidden !important;
}

.square-70 {
  height: 70px !important;
  width: 70px !important;
}
.square-40 {
  height: 40px !important;
  width: 40px !important;
}

.center-image {
  text-align: -webkit-center !important;
}
.img-circle {
  border-radius: 50%;
  border: 5px solid white;
}

.square-radio {
  height: 114px !important;
  width: 114px !important;
}
.list-radio {
  // display: inline-block !important;
  height: 33px !important;
  width: 110px !important;
}

.line-height-1_5 {
  line-height: 1.5 !important;
}

.line-height-12 {
  line-height: 12px !important;
}

.line-height-13 {
  line-height: 13px !important;
}

.line-height-15_4 {
  line-height: 15.4 !important;
}

.line-height-16 {
  line-height: 16px !important;
}

.line-height-16_27 {
  line-height: 16.27px !important;
}

.line-height-17 {
  line-height: 17px !important;
}

.line-height-17_21 {
  line-height: 17.21px !important;
}

.line-height-17_6 {
  line-height: 17.6px !important;
}

.line-height-18 {
  line-height: 18px !important;
}

.line-height-19 {
  line-height: 19px !important;
}

.line-height-19_2 {
  line-height: 19.2px !important;
}

.line-height-19_36 {
  line-height: 19.36px !important;
}

.line-height-19_6 {
  line-height: 19.6px !important;
}

.line-height-19_61 {
  line-height: 19.61px !important;
}

.line-height-21_6 {
  line-height: 21.6px !important;
}

.line-height-22 {
  line-height: 22px !important;
}

.line-height-22_4 {
  line-height: 22.4px !important;
}

.line-height-24 {
  line-height: 24px !important;
}

.line-height-28 {
  line-height: 28px !important;
}

.line-height-28_8 {
  line-height: 28.8px !important;
}

.line-height-32 {
  line-height: 32px !important;
}

.line-height-36 {
  line-height: 36px !important;
}

.line-height-39 {
  line-height: 39px !important;
}

.line-height-53 {
  line-height: 53px !important;
}

.txt-white {
  color: white !important;
}
.txt-brown {
  color: #46413c !important;
}
.text-black {
  color: rgb(0, 0, 0) !important;
}
.txt-slate-grey {
  color: #6d6e71 !important;
}

.dark-grey {
  color: #444444 !important;
}

.icon {
  display: inline-block;
  font-size: 35px;
  vertical-align: middle;
}

.icon-14 {
  height: 14px !important;
  width: 14px !important;
}

.icon-15 {
  height: 15px !important;
  width: 15px !important;
}

.icon-16 {
  height: 16px !important;
  width: 16px !important;
}

.icon-17 {
  height: 17px !important;
  width: 17px !important;
}

.icon-18 {
  height: 18px !important;
  width: 18px !important;
}

.icon-20 {
  height: 20px !important;
  width: 20px !important;
}

.icon-24 {
  height: 24px !important;
  width: 24px !important;
}

.icon-25 {
  height: 25px !important;
  width: 25px !important;
}

.icon-30 {
  height: 30px !important;
  width: 30px !important;
}

.icon-32 {
  height: 32px !important;
  width: 32px !important;
}

.icon-35 {
  height: 35px !important;
  width: 35px !important;
}
.icon-40 {
  height: 40px !important;
  width: 40px !important;
}
.icon-50 {
  height: 50px !important;
  width: 50px !important;
}
.icon-66{
  height: 66px !important;
  width: 66px !important;
}
.text {
  display: inline-block;
  vertical-align: middle;
}

.grey-back {
  background-color: #f2f1ed !important;
}

.txt-grey {
  color: #818181 !important;
}

.text-left {
  text-align: left !important;
}

.webkit-center {
  text-align: -webkit-center !important;
}

.width-80-percent {
  width: 80% !important;
}

.width-88-percent {
  width: 88% !important;
}

.width-90-percent {
  width: 90% !important;
}

.width-65-percent {
  width: 65% !important;
}

.width-70-percent {
  width: 70% !important;
}

.width-100-percent {
  width: 100% !important;
}

.width-203 {
  width: 203px !important;
}

.logo {
  max-height: 65%;
  max-width: 80%;
}

.no-scroll {
  overflow: hidden !important;
}
.scroll {
  overflow-x: scroll !important;
}

.overflow-visible {
  overflow: visible !important;
}

.wide-as-needed {
  overflow: scroll !important;
  white-space: nowrap !important;
}

.scroll-x {
  overflow-x: scroll !important;
}

.bg-white {
  background-color: white !important;
}

.shadow {
  box-shadow: 10px 10px grey;
}

.txt-slate-grey {
  color: #6d6e71 !important;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.txt-warm-grey {
  color: #9b9b9b !important;
}

.text-dark-gray {
  color: #d3d3d3;
}

.fit-content {
  width: fit-content;
}

.width-50 {
  width: 50px !important;
}

.width-4pc {
  width: 4pc !important;
}

.scrollable {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.notice-block {
  width: 320px !important;
  flex: 0 0 auto;
}

.display-content {
  display: contents !important;
}

.border-not-left-top-radius-10 {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.border-not-right-top-radius-10 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.border-radius-0 {
  border-radius: 0px !important;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-3 {
  border-radius: 3px !important;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.border-radius-8 {
  border-radius: 8px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}
.border-radius-20 {
  border-radius: 20px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.border-radius-50-percent {
  border-radius: 50% !important;
}

.border-0 {
  border: 0px !important;
}

.border-grey {
  border: 1px solid #dce0e6;
}

.border-silver-1 {
  border: 1px solid silver !important;
}
.underline-text {
  text-decoration: underline !important;
}
.list-icon-vertical-align-middle {
  vertical-align: middle !important;
  display: contents !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-flex-end {
  justify-content: flex-end !important;
}

.justify-space-evenly {
  justify-content: space-evenly !important;
}

.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.display-grid {
  display: grid !important;
}
.display-flex-container {
  display: flex !important;
  justify-content: space-between;
}
.display-flex-justify-center{
  display: flex !important;
  justify-content: center !important;
}
.vertical-align-center {
  vertical-align: middle !important;
}
.margin-top-20vh {
  margin-top: 20vh !important;
}

.ion-list-header-disabled-color {
  color: #acacac !important;
}

.alert-button-group {
  direction: ltr !important;
  button {
    margin-right: 8px !important;
  }
}

.flex-direction-column {
  flex-direction: column !important;
}

.letter-spacing0_15 {
  letter-spacing: 0.15px !important;
}

.text-transformation-none {
  text-transform: none !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}
.button-text {
  font-family: "Inter";
  font-style: normal;
  font-size: 26px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--ion-font-color-primary) !important;
}


