<ion-header>
  <ion-toolbar class="header">
    <ion-item lines="none" class="margin-0">
      <div slot="start">
        <img src="assets/icon/default-logo.png" onerror="src='assets/icon/default-logo.png'">
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>
<ion-footer>
  <ion-button (click)="goBack()" >
  </ion-button>
</ion-footer>
