<ion-header>
  <ion-toolbar class="header">
    <ion-item lines="none" class="margin-0 ion-item">
      <div slot="start">
        <img src="assets/icon/default-logo.png" onerror="src='assets/icon/default-logo.png'">
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="margin-top-50">
    <ion-text class="main-text margin-bottom-10">Start Self Check-In</ion-text>
    <p class="sub-text margin-0">Select purpose of visit</p>
  </div>
  <ion-grid class="margin-top-50">
    <ion-row class="display-flex-justify-center" (click)="selectPurpose('Guest');" >
      <div class="{{purpose === 'Guest' ? 'selected' : 'not-selected'}}">
        <ion-icon src="../../../assets/icon/guest.svg" class="icon-66">
        </ion-icon>
        <p class="font-28 font-weight-400 margin-0" >Guest</p>
      </div>
    </ion-row>
    <ion-row class="display-flex-justify-center" (click)="selectPurpose('Delivery');">
      <div class="{{purpose === 'Delivery' ? 'selected' : 'not-selected'}}">
        <ion-icon src="../../../assets/icon/delivery.svg" class="icon-66">
        </ion-icon>
        <p class="font-28 font-weight-400 margin-0">Delivery</p>
      </div>
    </ion-row>
    <ion-row class="display-flex-justify-center" (click)="selectPurpose('Vendor');">
      <div class="{{purpose === 'Vendor' ? 'selected' : 'not-selected'}}">
        <ion-icon src="../../../assets/icon/vendor.svg" class="icon-66">
        </ion-icon>
        <p class="font-28 font-weight-400 margin-0">Vender</p>
      </div>
    </ion-row>
  </ion-grid>

  <ion-item class="text-dark-gray"></ion-item>
  <ion-grid>
    <ion-row class="margin-bottom-25 margin-top-30">
      <ion-col>
        <div class="ion-text-center">
          <ion-text class="font-25 font-weight-400">Already have an invitation? </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button routerLink="/login" routerLinkActive (click)="navigateToLogin()" class="verify-btn" fill="outline" color="secondary font-25" >
          Verify OTP
        </ion-button>
      </ion-col> 
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="border-grey">
  <div class="display-flex justify-center">
    <ion-button routerLink="/login" routerLinkActive (click)="navigateToLogin()"
      class="button-text font-weight-400 letter-spacing-2 height-68 width-90-percent text-uppercase margin-top-24 margin-bottom-24"
      expand="full" color="secondary"  >
     Next</ion-button>
  </div>
</ion-footer>
