#container {
  display: grid;
  align-content: center;
}

ion-content {
  text-align: center;
  // --background: #eac42e !important;
}

.ion-item {
  background-color: white;
}
.main-text {
  color: #262626;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
}
.sub-text {
  color: #262626;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.not-selected {
  width: 264.54px;
  height: 147.319px;
  border-radius: 7.92px;
  background: #fff;
  margin-bottom: 40px;
  border: 1.584px solid #D7D7D7;
  padding: 15px;
  color: #737373;
}
.selected {
  width: 264.54px;
  height: 147.319px;
  border-radius: 7.92px;
  border: 1.584px solid var(--ion-color-secondary);
  background: #fff;
  margin-bottom: 40px;
  padding: 15px;
}

.verify-btn {
  width: 265px;
  height: 68px;
  border-radius: 7.92px;
  background: #fff;
  --border-width: 1.584px;
}

